* {
	font-family:              'Graphik', sans-serif;
	font-kerning:             normal;
	font-smooth:              always;
	-moz-osx-font-smoothing:  grayscale;
	-webkit-font-smoothing:   antialiased;
	text-rendering:           optimizeLegibility;
	-webkit-text-size-adjust: none;
}

h1 {
	font-family: 'Sabon', serif;
	font-weight: 400;
}

p + aside { display: none }

aside span {
	animation:  show-span 3s infinite;
	visibility: hidden;
}

aside span:nth-child(2) { animation-delay: 1s }
aside span:nth-child(3) { animation-delay: 2s }

@keyframes show-span {
	0%, 33.33% { visibility: hidden; }
	33.34%, 66.66% { visibility: visible; }
	66.67%, 100% { visibility: hidden; }
}
