:root {
	font-family: 'Graphik', sans-serif;
	font-size:   62.5%; /* For even maths. */

	* {
		font-kerning:             normal;
		font-smooth:              always;
		-moz-osx-font-smoothing:  grayscale;
		-webkit-font-smoothing:   antialiased;
		text-rendering:           optimizeLegibility;
		-webkit-text-size-adjust: none;
	}

	em { font-style: italic }

	nobr {
		white-space: nowrap;

		/* `&ZeroWidthSpace;` to trigger the `white-space` property (keeps wrapped SVGs with previous word). */
		&::before { content: '\200B' }
	}

	body {
		background-color:      var(--color--background);
		color:                 var(--color--foreground);
		display:               grid;
		font-size:             var(--type--size--small);
		font-weight:           var(--type--weight--regular);
		grid-template-columns: 100%;
		grid-template-rows:
			[header-start]
			min-content
			[header-end]
			minmax(12rem, 1fr)
			[search-start]
			min-content
			[search-end example-start]
			min-content
			[example-end]
			minmax(12rem, 1fr)
			[footer-start]
			min-content
			[footer-end];
		letter-spacing: var(--type--letter-spacing--small);
		line-height:    var(--type--line-height--heading);

		/* Spacer to set the upper track heights. */
		&::before {
			block-size: calc(100svh - var(--layout--alley) - 0.75em); /* Peek text. */
			content:    '';
			grid-row:   header-start / footer-start;
		}

		> * { grid-column: 1 } /* Allow overlapping. */

		/* Main header. */
		> header {
			backdrop-filter:  var(--layout--backdrop);
			background-color: var(--color--tint);
			grid-row:         header;
			z-index:          1;

			/* Breadcrumbs. */
			nav:first-child {
				background-color: var(--color--shade);

				ol {
					/* Logo. */
					svg {
						block-size:        0.7em; /* Roughly cap-height. */
						inset-block-start: 0.05em;
						position:          relative;
					}

					li:not(:first-child) {
						color:      var(--color--secondary);
						column-gap: calc(var(--layout--alley));
						display:    flex;

						&:not(:last-child)::after {
							content:       '/';
							margin-inline: -0.1em;
						}
					}
				}
			}

			h1 {
				font-size:           var(--type--size--large);
				font-weight:         var(--type--weight--semibold);
				letter-spacing:      var(--type--letter-spacing--large);
				line-height:         var(--type--line-height--display);
				margin-inline-start: -0.075em;
				padding-block-start: 1em;
				padding-inline:      var(--layout--gutter);
			}

			/* Main nav. */
			nav:last-child ul {
				font-size:      var(--type--size--medium);
				font-weight:    var(--type--weight--medium);
				letter-spacing: var(--type--letter-spacing--medium);
			}

			/* Might need to scroll on mobile. */
			nav :where(ol, ul) {
				column-gap:         var(--layout--alley);
				display:            flex;
				overflow:           auto;
				-ms-overflow-style: none; /* Edge. */
				padding-block:      1em;
				padding-inline:     var(--layout--gutter);
				scrollbar-width:    none; /* Firefox. */
				text-wrap:          nowrap;

				&::-webkit-scrollbar { display: none } /* Chrome, Safari. */
			}
		}

		/* Main search area/background. */
		> main {
			display: contents;

			form {
				background-color: var(--color--foreground);
				color:            var(--color--background);
				display:          flex;
				font-size:        var(--type--size--medium);
				grid-column:      1; /* Allow overlapping with background. */
				grid-row:         search;
				inline-size:      var(--layout--page);
				justify-self:     center;
				letter-spacing:   var(--type--letter-spacing--medium);
				margin-inline:    var(--layout--gutter);
				max-inline-size:  var(--layout--search);
				outline-color:    var(--color--edge);
				outline-offset:   -0.1rem;
				outline-style:    solid;
				outline-width:    0.1rem;
				text-wrap:        nowrap;
				z-index:          1;

				fieldset {
					align-items: center;
					display:     flex;

					*:focus { outline-color: var(--color--background) }
				}

				/* Input. */
				fieldset:first-of-type {
					flex-grow: 1;
					position:  relative;

					label {
						color:         var(--color--shade);
						overflow:      hidden;
						position:      absolute;
						text-overflow: ellipsis;
					}

					input, label {
						inline-size:   -webkit-fill-available;
						margin-inline: 1em;
						transform:     translateY(-0.025em); /* Optical shift up. */
					}

					/* Hide label with entry. */
					&:has(input:valid) label { display: none }
				}

				/* Type filter. */
				fieldset:last-of-type {
					inline-size:       24%; /* Fits “Any type” at 375. */
					margin-inline-end: 0.75em;
					position:          relative;

					select {
						cursor:             pointer;
						font-weight:        var(--type--weight--medium);
						inline-size:        -webkit-fill-available;
						letter-spacing:     var(--type--letter-spacing--medium);
						overflow:           hidden;
						padding-inline-end: 1.25em;
						text-overflow:      ellipsis;
						transform:          translateY(-0.025em); /* Optical shift. */
					}

					/* Caret icon. */
					svg {
						inset-inline-end: 0;
						position:         absolute;
						stroke:           currentcolor;
						stroke-width:     0.02em;
						transform:        rotate(180deg);
					}
				}

				/* Submit/search glass. */
				button {
					aspect-ratio:     1;
					background-color: var(--color--background);
					block-size:       3em;
					color:            var(--color--foreground);
					display:          grid;
					place-items:      center;
				}
			}

			/* Example records. */
			ul {
				display: contents;

				li {
					display:    contents;
					visibility: hidden;

					/* Record link. */
					aside {
						font-size:          var(--type--size--medium);
						font-weight:        var(--type--weight--medium);
						grid-column:        1; /* Stack ’em. */
						grid-row:           example;
						inline-size:        var(--layout--page);
						justify-self:       center;
						letter-spacing:     var(--type--letter-spacing--medium);
						margin-block-start: 1em;
						margin-inline:      var(--layout--gutter);
						max-inline-size:    var(--layout--search);
					}

					a {
						inline-size: fit-content;
						text-wrap:   balance;

						/* Arrows. */
						svg {
							block-size:          0.75em;
							inset-block-start:   0.1em;
							margin-inline-start: 0.5em;
							position:            relative;
							stroke-width:        0.1333em;
						}
					}

					/* Credit/citation link. */
					cite {
						align-self:          start;
						color:               var(--color--secondary);
						grid-column:         1; /* Overlap with footer. */
						grid-row:            footer;
						margin-block-start:  var(--layout--alley);
						margin-inline-start: var(--layout--gutter);
						max-inline-size:     calc(100% - 15em);
						z-index:             1;
					}

					/* Image backgrounds. */
					&::before {
						background-position: center;
						background-repeat:   no-repeat;
						background-size:     auto 150%; /* Temp. */
						content:             '';
						grid-column:         1;
						grid-row:            header-start / footer-end;
					}

					/* Set by JavaScript. */
					&.active {
						opacity:    100%;
						visibility: visible;

						/* Only loads `active` one. */
						&::before {
							background-image: var(--background-image);
							opacity:          100%;
							transition:       opacity 1s linear;
						}
					}

					&.loading::before { opacity: 0% }
				}
			}
		}

		/* Footer for legalese. */
		> footer {
			backdrop-filter:  var(--layout--backdrop);
			background-color: var(--color--tint);
			color:            var(--color--secondary);
			column-gap:       var(--layout--alley);
			display:          flex;
			grid-row:         footer;
			justify-content:  space-between;
			padding-block:    var(--layout--alley);
			padding-inline:   var(--layout--gutter);

			/* Notice text. */
			> p {
				align-self:        end;
				margin-inline-end: var(--layout--alley);
				text-wrap:         balance;
			}

			/* Legal links. */
			section {
				display:     grid;
				flex-shrink: 0;
				row-gap:     5em;

				ul {
					color:          var(--color--foreground);
					display:        grid;
					font-size:      var(--type--size--medium);
					font-weight:    var(--type--weight--medium);
					justify-items:  start;
					letter-spacing: var(--type--letter-spacing--medium);
					row-gap:        1em;
				}
			}
		}
	}
}
