:root {
	font-family: 'Graphik', sans-serif;
	font-size:   62.5%; /* For even maths. */

	* {
		font-kerning:             normal;
		font-smooth:              always;
		-moz-osx-font-smoothing:  grayscale;
		-webkit-font-smoothing:   antialiased;
		text-rendering:           optimizeLegibility;
		-webkit-text-size-adjust: none;
	}

	body {
		background-color: var(--color--background);
		color:            var(--color--foreground);
		font-size:        var(--type--size--small);
		font-weight:      var(--type--weight--regular);
		letter-spacing:   var(--type--letter-spacing--small);
		line-height:      var(--type--line-height--heading);
		position:         relative;

		/* Main header. */
		> header {
			background-color: var(--color--tint);
			inset-block-start: 0;
			inset-inline: 0;
			position: absolute;

			/* Breadcrumbs. */
			nav:first-child {
				background-color: var(--color--shade);

				ol {
					/* Logo. */
					svg {
						block-size:        0.7em; /* Roughly cap-height. */
						inset-block-start: 0.05em;
						position:          relative;
					}

					li:not(:first-child) {
						color:      var(--color--secondary);
						column-gap: calc(var(--layout--alley));
						display:    flex;

						&:not(:last-child)::after {
							content:       '/';
							margin-inline: -0.1em;
						}
					}
				}
			}

			h1 {
				font-size:           var(--type--size--large);
				font-weight:         var(--type--weight--semibold);
				letter-spacing:      var(--type--letter-spacing--large);
				line-height:         var(--type--line-height--display);
				margin-inline-start: -0.075em;
				padding-block-end:   0.125em;
				padding-block-start: 1em;
				padding-inline:      var(--layout--gutter);
			}

			/* Main nav. */
			nav:last-child ul {
				font-size:      var(--type--size--medium);
				font-weight:    var(--type--weight--medium);
				letter-spacing: var(--type--letter-spacing--medium);
			}

			/* Might need to scroll on mobile. */
			nav :where(ol, ul) {
				column-gap:         var(--layout--alley);
				display:            flex;
				overflow:           auto;
				-ms-overflow-style: none; /* Edge. */
				padding-block:      1em;
				padding-inline:     var(--layout--gutter);
				scrollbar-width:    none; /* Firefox. */
				text-wrap:          nowrap;

				&::-webkit-scrollbar { display: none } /* Chrome, Safari. */
			}
		}

		/* Main search area/background. */
		> main {
			background-color: tan;
			block-size:       calc(100svh + var(--layout--footer) - 1em);

			> * { display: none } /* Temp. */
		}

		> footer {
			background-color:   var(--color--tint);
			block-size:         var(--layout--footer);
			color:              var(--color--secondary);
			column-gap:         var(--layout--alley);
			display:            flex;
			justify-content:    space-between;
			margin-block-start: calc(-1 * var(--layout--footer));
			padding-block:      1em;
			padding-inline:     var(--layout--gutter);

			h2 { align-self: end }

			section {
				display:         flex;
				flex-direction:  column;
				justify-content: space-between;
				row-gap:         1em;

				ul {
					display:        flex;
					flex-direction: column;
					row-gap:        0.5em;
				}
			}
		}
	}
}
