:root {
	--type--size--small:  1.3rem;
	--type--size--medium: 1.5rem;
	--type--size--large:  3.6rem;

	--type--letter-spacing--small:  -0.01em;
	--type--letter-spacing--medium: -0.0175em;
	--type--letter-spacing--large:  -0.0225em;

	--type--line-height--body:    1.35;
	--type--line-height--heading: 1.2;
	--type--line-height--display: 1.15;

	--type--weight--regular:  400;
	--type--weight--medium:   500;
	--type--weight--semibold: 600;

	--layout--safe-area: calc(env(safe-area-inset-left) * 0.815); /* Insets on iPhones (same left/right). */

	--layout--max:  192rem;

	--layout--gutter--base: 1.6rem;
	--layout--gutter--safe: calc(var(--layout--gutter--base) + var(--layout--safe-area));
	--layout--gutter--max:  calc((100vw - (var(--layout--max) - 2 * var(--layout--gutter--base))) / 2);
	--layout--gutter:       max(var(--layout--gutter--base), var(--layout--gutter--safe), var(--layout--gutter--max));

	--layout--alley: 1.6rem;

	--layout--page:   calc(100vw - var(--layout--gutter) * 2);
	--layout--footer: calc(5 * var(--type--size--large));

	--layout--backdrop: blur(1.2rem);

	--color--foreground: white;
	--color--highlight:  rgb(255 255 255 / 5%);
	--color--secondary:  rgb(255 255 255 / 33%);
	--color--tint:       rgb(17 17 17 / 75%);
	--color--shade:      rgb(0 0 0 / 33%);
	--color--background: black;

	--link--enlargement:          0.8rem;
	--link--enlargement--minimum: 2.8rem;
	--link--hover:                80%;
	--link--outline:              0.2rem;
	--link--transition:           100ms;

	/* Medium. */
	@media (width >= 48em) {
		--type--size--small:  1.4rem;
		--type--size--medium: 1.6rem;
		--type--size--large:  4.2rem;

		--layout--gutter--base: 2.4rem;
	}

	/* Large */
	@media (width >= 64em) {
		--type--size--small:  1.5rem;
		--type--size--medium: 1.8rem;
		--type--size--large:  5.5rem;

		--layout--gutter--base: 3.6rem;
		--layout--alley:  2.4rem;

		--layout--footer: calc(4 * var(--type--size--large));
	}

	/* Max. */
	@media (width >= 90em) {
		--layout--gutter--base: 6rem;
	}
}
