:root {
	--type--size--small:  1.3rem;
	--type--size--medium: 1.5rem;
	--type--size--large:  3.6rem;

	--type--letter-spacing--small:  -0.01em;
	--type--letter-spacing--medium: -0.0175em;
	--type--letter-spacing--large:  -0.0225em;

	--type--line-height--body:    1.35;
	--type--line-height--heading: 1.2;
	--type--line-height--display: 1.15;

	--type--weight--regular:  400;
	--type--weight--medium:   500;
	--type--weight--semibold: 600;

	--layout--safe-area: calc(env(safe-area-inset-left) * 0.815); /* Insets on iPhones (same left/right). */

	--layout--max:  192rem;

	--layout--gutter--base: 1.6rem;
	--layout--gutter--safe: calc(var(--layout--gutter--base) + var(--layout--safe-area));
	--layout--gutter--max:  calc((100vw - (var(--layout--max) - 2 * var(--layout--gutter--base))) / 2);
	--layout--gutter:       max(var(--layout--gutter--base), var(--layout--gutter--safe), var(--layout--gutter--max));

	--layout--alley: 1.6rem;

	--layout--page: calc(100vw - var(--layout--gutter) * 2);

	--color--foreground: white;
	--color--secondary:  rgb(255 255 255 / 30%);
	--color--background: black;

	/* Medium. */
	@media (width >= 48em) {
		--type--size--small:  1.4rem;
		--type--size--medium: 1.6rem;
		--type--size--large:  4.8rem;

		--layout--gutter--base: 2.4rem;
	}

	/* Large */
	@media (width >= 64em) {
		--type--size--small:  1.5rem;
		--type--size--medium: 1.8rem;
		--type--size--large:  6.3rem;

		--layout--gutter--base: 3.6rem;
		--layout--alley:  2.4rem;
	}

	/* Max. */
	@media (width >= 90em) {
		--layout--gutter--base: 6rem;
	}
}
